.App-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-page{
  display: block;
  width: 25%;
  height: 94%;
  border-bottom-left-radius:5px;
  border-top-left-radius:5px;
  border: 1px solid;
}
.chat-page{
  /* display: block; */
  
  display: flex;
  flex-direction:column ;
  justify-content: center;
  align-items: center;


  width: 70%;
  height: 94%;
  border-bottom-right-radius:5px;
  border-top-right-radius:5px;
  border: 1px solid;
}


/* NavHeader */
.nav-header{
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
}

.search-bar{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 10% !important;
  width: 100%;
  background-color: transparent;
}

.search-bar form{
  display: flex;
  justify-content: space-between;
  width: 95%;
  height: 75%;
}

.profile-pic{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.profile-pic img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

/* old working dimentions */
/* .nav-header .profile-pic,.chat-header .profile-pic{
  height: 52px;
  width: 52px;
} */

.chat-header .profile-pic{
  height: 77%;
  width: 5%;
}
.nav-header .profile-pic{
  height: 77%;
  width: 14.1%;
}

/* user row */

.user-container{
  display: flex;
  height: 80%;
  overflow-y: auto;
  flex-direction: column;
}

.list-group{
  height: 100%;
}

.user-item{
  height: 11%;
}

.user-item:hover{
  background-color: transparent !important;
}

.user{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.user .profile-pic{
   height: 100% ;
   width: 13%;
}

.user-text{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  width: 84.5%;
  height: 100%;
}

.user-name{
  height: 50%;
  font-weight: 500;
  overflow: hidden;
}
.user-last-message{
  height: 50%;
  font-weight: 400;
  overflow: hidden;
  text-align: start;
}

.active{
  background-color: #0d6efd !important;
}

/* chat page */
.chat-header{
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
}

.back-btn{
  display: none;
}

.back-btn button{
  font-weight: bold;
}

.chat-container{
  width: 100%;
  height: 80%;
  padding: 1%;
  overflow-y: auto;
}

.message{
  border: 0px !important;
  max-width: 90%;
}

.chat-footer{
  display: flex;
  width: 100%;
  height: 10%;
  background-color: #394047;
  justify-content: center;
  align-items: center;
}

.msg-type{
  display: flex !important;
  align-items: center !important;
  height: 70% !important;
  width: 95% !important;
}

.msg-type input,.msg-type span{
  height: 85%;
}

.me{
  justify-content: end;
}

.me div{
  border-top-right-radius:0px ;
}

.not-me div{
  border-top-left-radius:0px ;
}

.me::after{
  content: "";
  width: 0;
  height: 0;
  border-top-right-radius: 3px;

  border-left-color: #0d6efd;
  border-left-width: 12px;
  border-left-style: solid ;

  border-bottom: 12px solid transparent;
}

.not-me::before{
  content: "";
  width: 0;
  height: 0;
  border-top-left-radius: 3px;

  border-right-color: #0d6efd;
  border-right-width: 12px;
  border-right-style: solid ;

  border-bottom: 12px solid transparent;
}


/* Mobile devlopment */
@media only screen and (max-width: 600px) {
  .back-btn{
    display: block;
  }

  .nav-page{
    width: 95%;
  }
  .chat-page{
    width: 95%;
  }

  .user-item{
    height: 11%;
  }

  .user .profile-pic{
    height: 95% ;
    width: 15.5%;
  }

  .user-text{
    width: 82%;
  }
  .chat-header .profile-pic,.nav-header .profile-pic{
    height: 74.5%;
    width: 16%;
  }
}

@media only screen and (max-width: 400px){
  .user-item{
    height: 12%;
  }
  .user .profile-pic{
    width: 16.9%;
  }
  .user-text{
    width: 81%;
  }
}

@media only screen and (max-width: 380px){
  .user .profile-pic{
    height: 100%;
    width: 16.5%;
  }

  .user-text{
    width: 81%;
  }
}